* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Product Sans";
    background-color: gray;
    color:white;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
  }
  .product-sans {
    font-family: "Product Sans", Arial;
  }
  .code {
    font-family: "Jetbrains Mono", namespace;
  }
  .container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%; 
    background-color: rgb(0,0,0,0.4)
  }
  .navbar ul{
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: center;
  }
  .navbar ul li {
      margin: 0 1rem;
      padding: 1rem;
  }
  .navbar ul li a {
      text-decoration: none;
      color: blue;
  }

  section {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align:center;
      width: 100%;
      height: 100vh;
      scroll-snap-align: center;
      
  }
  section h1 {
    font-size: 4rem;
  }
  section a {
    font-size: 1.5rem;
  }
.button-68 {
  text: decoration;;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
.button-68 a {
  text-decoration: none;
  color: #fff
}
mark {
  background-color:#000;
  color:#fff;
  padding: 10px;
  border-radius: 5px;
}
section#join {
  background: url("https://cdn.vox-cdn.com/thumbor/l9a45cx4ZfppNgzhQ5H3EX6glvs=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/19355555/jbareham_191158_ply0958_decade_minecraft.jpg") no-repeat center center/cover;
}
section#discord {
  background: url("https://wallpaperaccess.com/full/3053366.png") no-repeat center center/cover;
}
